<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.98in; margin-bottom: 0.98in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
	-->
	</STYLE>
</head>
<body>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">RESULTADOS PRUEBAS PSICOLÓGICAS</FONT></P>
    <P ALIGN=RIGHT STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif"><B>FECHA:</B></FONT><FONT FACE="Arial, serif">
    </FONT><FONT FACE="Arial, serif"><SPAN>FECHAAAAA</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">NOMBRE:
    </FONT><FONT FACE="Arial, serif"><SPAN>{{ reg.nombre }}</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">No.
    DE IDENTIFICACIÓN: </FONT><FONT FACE="Arial, serif"><SPAN>{{ reg.motivo_evaluacion }}</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">EDAD:
    </FONT><FONT FACE="Arial, serif"><SPAN>{{ reg.edad }} años</SPAN></FONT><FONT FACE="Arial, serif">.</FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">ESCOLARIDAD:
    </FONT><FONT FACE="Arial, serif"><SPAN>{{ reg.formacion_academica }}</SPAN></FONT></P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
    </P>
    <TABLE WIDTH=589 CELLPADDING=7 CELLSPACING=0>
        <COL WIDTH=279>
        <COL WIDTH=279>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif"><B>Factor**</B></FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif"><B>Resultado</B></FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Organicidad </FONT>
                </P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif"></FONT>
                    <SPAN>
                        {% if reg.fact_organicidad %}
                            SIN SOSPECHA DE DAÑO ORGÁNICO
                        {% else %}
                            SOSPECHA DE DAÑO ORGÁNICO
                        {% endif %}
                    </SPAN>
                </P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Capacidad Intelectual</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif"><SPAN>{{ reg.fact_intelectual }}</SPAN></FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Estado de Alerta</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">{{ reg.fact_alerta }}</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Estado de Ánimo</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">{{ reg.fact_animo }}</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Manejo de Ansiedad</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">{{ reg.fact_ansiedad }}</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Sensopercepción</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">{{ reg.fact_sensopercepcion }}</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Control de Impulsos</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">{{ reg.fact_impulsos }}</FONT></P>
            </TD>
        </TR>
        <TR VALIGN=TOP>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">Nivel de Energía</FONT></P>
            </TD>
            <TD WIDTH=279 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P ALIGN=JUSTIFY><FONT FACE="Arial, serif">{{ reg.fact_energia }}</FONT></P>
            </TD>
        </TR>
    </TABLE>

    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
    <BR>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">Cumple
    con el perfil solicitado: </FONT>
    <p>
        {% if reg.fact_organicidad %}
            Si
        {% else %}
            No
        {% endif %}
    </p>
    </P>
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">COMENTARIOS:</FONT></P>
    {% if reg.fact_organicidad %}
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">Positivo:</FONT></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">El candidato presenta una Capacidad Intelectual </FONT><FONT FACE="Arial, serif"><SPAN>de Término Medio</SPAN></FONT><FONT FACE="Arial, serif">, </FONT><FONT FACE="Arial, serif"><SPAN>sin deterioro cognitivo y sin datos de organicidad</SPAN></FONT><FONT FACE="Arial, serif">. El perfil de personalidad obtenido es VÁLIDO, sin rasgos de patologías. Por lo tanto, obtiene el Certificado Médico Psicológico de Salud Mental.</FONT></P>
    {% else %}
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">Negativo:</FONT></P>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">El candidato presenta una Capacidad Intelectual </FONT><FONT FACE="Arial, serif"><SPAN>de Término Medio</SPAN></FONT><FONT FACE="Arial, serif">, </FONT><FONT FACE="Arial, serif"><SPAN>con sospecha de daño orgánico</SPAN></FONT><FONT FACE="Arial, serif">. El perfil de personalidad obtenido </FONT><FONT COLOR="#ff0000"><FONT FACE="Arial, serif">no es VÁLIDO</FONT></FONT><FONT FACE="Arial, serif">, ya que presenta rasgos de personalidad patológicos y conductas de riesgo. Por lo tanto, NO obtiene el Certificado Médico Psicológico de Salud Mental.</FONT></P>
    {% endif %}
    <P ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in"><BR><BR>
    </P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">_______</FONT></P>
    <P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif">firma</FONT></P>
    <P STYLE="margin-bottom: 0.11in"><FONT FACE="Arial, serif"><SPAN STYLE="background: #ffff00">(nombre del psicólogo y cédula profesional)</SPAN></FONT></P>
</body>
</html>