{% extends 'base_template.html' %}
{% block content %}
<div class="card card-body">
     <div class="col-md-6 offset-md-3">
            <form action="/addCandidato" method="POST">
                <div class="row mb-3">
                    <label for="nombre" class="col-sm-4 col-form-label" >Nombre</label>
                    <div class="col-sm-8">
                        <input id="nombre" oninput="mostrarSinDiacriticos(this)" type="text" name="nombre" placeholder="Nombre" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="edad" class="col-sm-4 col-form-label">Edad</label>
                    <div class="col-sm-8">
                        <input type="number" name="edad" placeholder="Edad" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="id_bt" class="col-sm-4 col-form-label">ID BT</label>
                    <div class="col-sm-8">
                        <input type="number" name="id_bt" placeholder="ID BT" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="motivo_evaluacion" class="col-sm-4 col-form-label">Motivo de Evaluación</label>
                    <div class="col-sm-8">
                      <select class="form-select" name="motivo_evaluacion">
                        <option selected="selected" value="N/A" type="text">N/A</option>
                        <option value="NUEVO INGRESO" type="text" >NUEVO INGRESO</option>
                        <option value="ACTUALIZACIÓN DE LICENCIA" type="text">ACTUALIZACIÓN DE LICENCIA</option>
                      </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="formacion_academica" class="col-sm-4 col-form-label">Formación Académica</label>
                    <div class="col-sm-8">
                        <select class="form-select" name="formacion_academica">
                            <option selected="selected" value="N/A" type="text">N/A</option>
                            <option value="SECUNDARIA" type="text">SECUNDARIA</option>
                            <option value="BACHILLERATO" type="text">BACHILLERATO</option>
                            <option value="LICENCIATURA" type="text">UNIVERSIDAD</option>
                            <option value="POSGRADO" type="text">MAESTRÍA</option>
                          </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="puesto" class="col-sm-4 col-form-label">Puesto</label>
                    <div class="col-sm-8">
                        <input id="puesto" oninput="mostrarSinDiacriticos(this)" type="text" name="puesto" placeholder="Puesto" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="centro_trabajo" class="col-sm-4 col-form-label">Centro de Trabajo</label>
                    <div class="col-sm-8">
                        <input id="centro_trabajo" oninput="mostrarSinDiacriticos(this)" type="text" name="centro_trabajo" placeholder="Centro de Trabajo" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                <label for="estado_civil" class="col-sm-4 col-form-label">Estado Civil</label>
                    <div class="col-sm-8">
                      <select class="form-select" id="estado_civil" name="estado_civil">
                        <option value="SOLTERO" type="text" >SOLTERO</option>
                        <option value="CASADO" type="text">CASADO</option>
                        <option selected="selected" value="N/A" type="text">N/A</option>
                      </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="f_evaluacion_psic" class="col-sm-4 col-form-label">Eval. Psicológica</label>
                    <div class="col-sm-4">
                      <input type="date" name="f_evaluacion_psic" placeholder="Fecha de programación" class="form-control" id="f_evaluacion_psic">
                    </div>
                    <div class="col-sm-4">
                      <select class="form-select" id="hora_evaluacion_psic" name="hora_evaluacion_psic">
                        <option selected="selected" value="08:00:00" type="text" >8:00 hrs</option>
                        <option value="08:30:00" type="text">08:30 hrs</option>
                        <option value="09:00:00" type="text">09:00 hrs</option>
                        <option value="09:30:00" type="text">09:30 hrs</option>
                        <option value="10:00:00" type="text">10:00 hrs</option>
                        <option value="10:30:00" type="text">10:30 hrs</option>
                        <option value="11:00:00" type="text">11:00 hrs</option>
                        <option value="11:30:00" type="text">11:30 hrs</option>
                        <option value="12:00:00" type="text">12:00 hrs</option>
                        <option value="12:30:00" type="text">12:30 hrs</option>
                        <option value="13:00:00" type="text">13:00 hrs</option>
                      </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="f_evaluacion_piro" class="col-sm-4 col-form-label">Eval. Poligráfica</label>
                    <div class="col-sm-4">
                      <input type="date" name="f_evaluacion_piro" placeholder="Fecha de programación" class="form-control" id="f_evaluacion_piro">
                    </div>
                    <div class="col-sm-4">
                      <select class="form-select" id="hora_evaluacion_piro" name="hora_evaluacion_piro">
                        <option selected="selected" value="08:00:00" type="text" >8:00 hrs</option>
                        <option value="12:00:00" type="text">12:00 hrs</option>
                        <option value="16:00:00" type="text">16:00 hrs</option>
                      </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="localizacion_eval" class="col-sm-4 col-form-label">Localización de Evaluación</label>
                    <div class="col-sm-8">
                        <input id="localizacion_eval" oninput="mostrarSinDiacriticos(this)" type="text" name="localizacion_eval" placeholder="Localización de Evaluación" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group my-2">
                        <BUtton type="submit" class="btn btn-success btn-block">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Crear
                        </BUtton>
                        <a class="edit btn btn-outline-danger" href="/evaluacionesSSE">Cancelar</a>
                    </div>
                </div>
            </form>
    </div>
</div>

{% endblock %}